# -*- mode: ruby -*-
# vi: set ft=ruby :

def stdopt(
  config, hostname:, cpus: 1, memory_mb: 1024, box: "ubuntu/focal64"
)
  config.vm.box = box
  config.vm.hostname = hostname

  config.ssh.forward_agent = true

  config.vm.synced_folder ".", "/host_share"

  config.vm.provider "virtualbox" do |vbox|
    vbox.linked_clone = true
    vbox.cpus = cpus
    vbox.memory = memory_mb
    # Force allocation of all specified VM memory at start. Change the 1 below
    # to 0 to allow for "as needed allocation".
    vbox.customize ["setextradata", :id, "VBoxInternal/RamPreAlloc", 1]
  end
end

def opt_network(config, ifname:, ip:, forwarded_ports: {})
  config.vm.network "public_network", bridge: ifname, ip: ip

  # Set up the port forwarding.
  forwarded_ports.each do |guest_port, host_port|
    config.vm.network "forwarded_port", guest: guest_port, host: host_port
  end
end

def provision(config, name:, playbook_fname:, run: "never", extra_vars: {})
  config.vm.provision name, type: "ansible", run: run do |ansible|
    ansible.verbose = "vvv"
    ansible.playbook = File.join("..", "ansible", playbook_fname)
    ansible.extra_vars = {
      "ansible_python_interpreter": "auto",
    }.merge(extra_vars)
  end
end

Vagrant.configure("2") do |config|
  # For IT infrastructure (primary).
  config.vm.define "infra0" do |infra0|
    stdopt(
      infra0,
      hostname: "infra0",
      memory_mb: 1024,
    )

    opt_network(
      infra0,
      ifname: "enp0s31f6",
      ip: "10.0.0.20",
    )

    provision(
      infra0,
      name: "infra0",
      playbook_fname: "ssh-server.yml",
      run: "once",
    )

    provision(
      infra0,
      name: "infra0",
      playbook_fname: "ssh-passwordless.yml",
      run: "once",
      extra_vars: {
        "authorized_keys": [
          {
            "user": "vagrant",
            "key": "https://gist.githubusercontent.com/yaobinwen/92b92a583f2030323ec7fa843c467cc5/raw/fa6792deb02d06c4336ecd767a0d638b2622f475/id_ed25519-yaobinwen-work-env.pub"
          }
        ],
        "target_host_info": {"name": "infra0", "ip": "10.0.0.20"},
      },
    )
  end

  # For IT infrastructure (secondary).
  config.vm.define "infra1" do |infra1|
    stdopt(
      infra1,
      hostname: "infra1",
      memory_mb: 1024,
    )

    opt_network(
      infra1,
      ifname: "enp0s31f6",
      ip: "10.0.0.21",
    )

    provision(
      infra1,
      name: "infra1",
      playbook_fname: "ssh-server.yml",
      run: "once",
    )

    provision(
      infra1,
      name: "infra1",
      playbook_fname: "ssh-passwordless.yml",
      run: "once",
      extra_vars: {
        "authorized_keys": [
          {
            "user": "vagrant",
            "key": "https://gist.githubusercontent.com/yaobinwen/92b92a583f2030323ec7fa843c467cc5/raw/fa6792deb02d06c4336ecd767a0d638b2622f475/id_ed25519-yaobinwen-work-env.pub"
          }
        ],
        "target_host_info": {"name": "infra1", "ip": "10.0.0.21"},
      },
    )
  end
end
