Source: openvpn-utils
Section: python
Priority: optional
Maintainer: Yaobin Wen <robin.wyb@gmail.com>
Build-Depends: debhelper (>= 11),
 help2man (>= 1.47.6),
 python3-all (>= 3.6.7),
 python3-pytest (>= 3.3.2),
 python3-pytest-cov (>= 2.5.1),
 python3-setuptools (>= 39.0.1),
 python3-ywen (>= 0.7.0),
 dh-python (>= 3.20180325ubuntu2),
Standards-Version: 4.1.4
X-Python3-Version: >= 3.6

Package: python3-ywen-openvpn-utils
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
 python3-pkg-resources,
Description: Provide utilities to work with OpenVPN more efficiently.
