$TTL    604800
@       IN      SOA     cave.yaobinwen.com. admin.cave.yaobinwen.com. (
                              3         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
; name servers
      IN      NS      dp7510.cave.yaobinwen.com.
      IN      NS      dpm4800.cave.yaobinwen.com.

; PTR Records
10   IN      PTR     dp7510.cave.yaobinwen.com.    ; 10.0.0.10
20   IN      PTR     dpm4800.cave.yaobinwen.com.    ; 10.0.0.20
