filetype plugin on

set autoindent
set colorcolumn={{vim_colorcolumn_default | join(",")}}
set display+=lastline
set encoding={{vim_encoding_default}}
set expandtab
set hlsearch
set ignorecase
set incsearch
set linebreak
set list
set listchars=tab:>·
set ruler
set scrolloff=1
set shiftround
set shiftwidth={{vim_shiftwidth_default}}
set smartcase
set smarttab
set tabstop={{vim_tabstop_default}}
set title
set wrap
